@model IEnumerable<LawyerCases>
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div style="margin:5% 25%; border: 1px groove gray; border-radius: 5px; -webkit-box-shadow: -3px 21px 216px -18px rgba(0,0,0,0.75);
-moz-box-shadow: -3px 21px 216px -18px rgba(0,0,0,0.75);
box-shadow: -3px 21px 216px -18px rgba(0,0,0,0.75);">


    <div style="font-family:Tahoma; text-align:center">
        <h1>@ViewBag.msg</h1>
    </div>

    <img src="~/Uploads/security.png" style="width:100%" />





</div>
